*{
	padding: 0px;
	margin:0px;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
	list-style: none;
	text-decoration:none;
	scroll-behavior: smooth;
	justify-content: center;
	align-items: center;
	align-content: center;
}
:root{
	--bg-color:#ffffff;
	--text-color:#000;
	--seccond-color:#a09dab;
	--main-color:#f75023;
	--big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;

}
header{
	position: fixed;
	width: 100%;
	top: 0px;
	right: 0px;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 30px 18%;
	transition: .3s;
}
.logo img{
	max-width: 100%;
	width: 80px;
	height: auto;
}
.navlist{
	display: flex;
}
.navlist li{
	position: relative;
}
.navlist a{
	font-size: var(--p-font);
	color: var(--text-color);
	font-weight: 500;
	padding: 10px 27px;
}
.navlist a::after{
	content: '';
	position: absolute;
	background: orange;
	width: 0%;
	height: 2px;
	bottom: -3px;
	left: 0px;
	transition: ease .40s;
}
.navlist a:hover::after{
    width: 100%;	
}
#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}
.top-btn{
	display: inline-block;
	padding: 2px 20px;
	background:transparent;
	border: 2px solid orange;
	border-radius: 30px;
	color: black;
	letter-spacing: 1px;
	font-size: var(--p-font);
	font-weight: 500;
	transition: ease .50s;
}
.top-btn:hover{
	transform: scale(1.1);
	background: orange;
	border: 2px solid orange;
	color: white;
}
section{
	padding: 100px 18%;
	height: 100%;
	width: 100%;
	background-image: url("../image/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items:center;
	grid-gap:4rem;
}
.home-text h1{
margin:10px 0px 25px;
font-size: var(--big-font);
line-height: 1;
font-weight: 500;	
}
.home-text h3{
	color: orange;
	font-size: 20px;
	font-weight: 500;

}
.btn{
 display: inline-block;
	padding: 2px 20px;
	background:transparent;
	border: 2px solid orange;
	border-radius: 30px;
	color: black;
	letter-spacing: 1px;
	font-size:1.1rem;
	font-weight: 500;
	transition: ease .50s;	
}
.btn:hover{
	transform: scale(1.1);
	background-color:orange;
	border: 2px solid orange;
	color: white;
}
.home-img img{
	max-width: 100%;
	width: 540px;
	height: 540px;
	height: auto;
}
.education-content{
	display: flex;

	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	text-align: center;
	cursor: pointer;
	

}
#education{
	margin-left: 0px
}

.col{
	position: relative;

}
.col img{
	
	width: 200px;
	height: 400px;
	object-fit: 12px;

}
h3{
	text-align: center;
}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left:0px;
	border-radius: 12px;
	transition: all .40s; 
}
.layer:hover{
	background: linear-gradient(rgba(0,0,0,0.5) 0%, #191919);
}
.layer h3{
	position: absolute;
	width: 100%;
	font-size: 25px;
	font-weight: 500;
	color:white;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%); 
	opacity: 0;
	transition: all .40s;
}
.layer:hover h3{
	bottom: 52%;
	opacity: 1;
}
.cnt{
	height: 40px;
	width: 400px;
}
.cnt1{
	height: 80px;
	width: 400px;
}
.icon{
	margin-left: 100px;
}